<p style="color: green"><%= notice %></p>

<%= render @product %>

<div>
  <%= button_to "Ajouter au panier", add_to_cart_path(product_id: @product.id) %>
  <%= link_to "Back to products", products_path %>
</div>
